{% extends 'base.html.twig' %}


{% block body %}

<div class="container-fluid  " >
    <div class="w-100 d-flex row">
        <div class="row justify-content-center " id="afficher"></div>
    </div>
</div>

<div class="row d-flex justify-content-center ml-3 mr-3" > 
    <div id="gg" class="row justify-content-center mt-4"></div>  
</div>
<div id="visible">
<div class="d-flex justify-content-center">
    <div class="col-7 my-3 mr-5 ">
<div class="progress beige">
  <div class="progress-bar progress-bar-striped progress-bar-animated violet" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
</div>
    </div>  
    <div class="row">
        <div class="col-2 d-none d-md-block ">
            <div class="card border-0 bg-transparent">
                <div class="card-body">
                <img src="asset/cat.fond/cuisinier.png" class="card-img-top img-fluid  " alt="Cuisinier">
                </div>
            </div>
        </div> 
        <div class="col-7 d-flex justify-content-center">
          <form action="#" method="post" class="col-10">
            <div class="form-group my-4 ">
            <label class="col-form-label col-form-label-lg col-12 my-3 text-center"><h4>Adresse de livraison :</h4></label>
            <input for="livraison" name="livraison" class="form-control form-control-lg rounded col-12 ">
            </div>
            <div class="form-group">
            <label class="col-12 my-3 text-center col-form-label col-form-label-lg"><h4>Adresse de Facturation :</h4></label>
            <input type="text" for="livraison" name="livraison" class="rounded col-12 form-control form-control-lg">
            </div>
            <div class="form-check form-check-inline mt-2 mb-4">
             <input class="form-check-input" type="radio" name="same" >
            <label class="form-check-label" for="same">L'adresse de livraison et de facturation sont les mêmes.</label>
            </div>
            <div class="form-radio">
            <label class="col-form-label col-from-label-lg"><h4>Moyen de paiment :</h4></label>
            <input type="radio" for="carte"><span class="payment-name"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
  <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
</svg></span> 
            </div>
            </form>
            {# <table>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>  #}
        </div>    
        <div class="col-3">
               
         <div class="card  bordure beige my-5 mr-5" >
  <div class="card-header "><h4>Récapitulatif :</h4></div>
  <div class="card-body">
    <p class="card-text">
    {% for plat in plats %}
    <div class="row">
        <div class="col-9"><p class='ml-2'>{{ plat.plat.libelle}} x {{ plat.quantité }}</p></div>
        <div class="col-3">{{ plat.prix }} €</div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="d-flex justify-content-end col-9 ">
        Total :
        </div>
        <div class="col-3">        
        {{ total }} €
        </div>
        </div>
    </p>
  </div>
</div>
            {# <table>
                <thead>
                    <tr>
                    <th class="mr-5">Récapitulatif :</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for plat in plats %}
                        <tr>
                            <td  >{{ plat.plat.libelle}} x {{ plat.quantité }}</td>
                            <td >{{ plat.prix }} €</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="d-flex justify-content-end ">
                        Total :
                        </td>
                        <td>                        
                        {{ total }}
                        </td>
                    </tr>
                </tbody>
            </table> #}
        </div>
    
    </div>
    <div class="w-100 mt-3 d-flex justify-content-center"> <a type="submit" class="btn btn-dark t " href="{{path('app_accueil')}}">Retourner sur la page d'acceuil</a></div>
</div>
       
{% endblock %}
