{% extends 'base.html.twig' %}


{% block body %}

<div class="container-fluid  " >
    <div class="w-100 d-flex row">
        <div class="row justify-content-center " id="afficher"></div>
    </div>
</div>

<div class="row d-flex justify-content-center ml-3 mr-3" > 
    <div id="gg" class="row justify-content-center mt-4"></div>  
</div>
<div id="visible">
    <div class="col-12 d-flex justify-content-center">
        <h2 class="font-weight-bold   mb-3 pr-4">Votre Commande :</h2>
    </div>  
    <div class="row">
        <div class="col-2 d-none d-md-block ">
            <div class="card border-0 bg-transparent">
                <div class="card-body">
                <img src="asset/cat.fond/cuisinier.png" class="card-img-top img-fluid  " alt="Cuisinier">
                </div>
            </div>
        </div> 
        <div class="col-7">
            <card>
            </card>
            {# <table>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>  #}
        </div>    
        <div class="col-3">
            
            <table>
                <thead>
                    <tr>
                    <th class="mr-5">Récapitulatif :</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for plat in plats %}
                        <tr>
                            <td  >{{ plat.plat.libelle}} x {{ plat.quantité }}</td>
                            <td >{{ plat.prix }} €</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="d-flex justify-content-end ">
                        Total :
                        </td>
                        {{ total }}
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>
    <div class="w-100 mt-3 d-flex justify-content-center"> <a type="submit" class="btn btn-dark t " href="{{path('app_accueil')}}">Retourner sur la page d'acceuil</a></div>
</div>
       
{% endblock %}
