{% extends 'base.html.twig' %}


{% block body %}
<div id="visible">
      <div class="container-fluid col-12 mb-4 mt-1 d-flex  ">
        <div class="col-2 d-none d-md-block ">
           <div class="card border-0 bg-transparent  ">
            <div class="card-body">
               <img src="asset/cat.fond/cuisinier.png" class="card-img-top img-fluid  " alt="Cuisinier">
             </div>
           </div>
        </div> 
        <div class="col-10 justify-content-center mt-4 ">
     
            <h2 class="mt-3">Inscription</h2>
            <div class="col-6 mt-3">
                {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger " role="alert">{{ flash_error }}</div>
    {% endfor %}
<div class="mt-4">
    {{ form_errors(inscription) }}

    {{ form_start(inscription) }}
        {{ form_row(inscription.email) }}
        {{ form_row(inscription.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(inscription.agreeTerms) }}

        <button type="submit" class="btn btn-dark t btn-sm">Inscription</button>
    {{ form_end(inscription) }}
</div>
            </div>
          </div>
          </div>
  <div class="d-flex justify-content-start ml-5 mt-4">
        
            <a type="submit" href="{{path('app_connection')}}" class="btn btn-dark t mr-2" >Précedent</a>
    </div>        
      </div>
     
{% endblock %}
