{% extends 'base.html.twig' %}
{% block body %}
<div id="visible">
  <div class="container-fluid col-12 mb-4 mt-1 d-flex  ">
    <div class="col-2 d-none d-md-block ">
      <div class="card border-0 bg-transparent  ">
        <div class="card-body">
          <img src="asset/cat.fond/cuisinier.png" class="card-img-top img-fluid  " alt="Cuisinier">
        </div>
      </div>
    </div>
    <div class="col-10 mt-4 ">
      {# <br>
      {% if vide  %}
      <h4>{{ panier }}</h4>
      <div class="d-flex justify-content-start mr-5">
        <div class="col-3 mr-5"><img class='img-fluid mt-2'  src='asset/cat.fond/panier.png' alt='panier'></div>
      </div>
      {% else %} #}
      <table class="table table-responsive table-striped  col-8 ">
        <thead>
          <tr>
            <th class=" col-9"><h2 class="font-weight-bolder">Votre Panier : </h2></th>
            <th>Quantité :</th>
            <th>Total:</th>
          </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
    
          <tr>
            <td class=" d-flex align-items-start ">
                <img class="img-fluid mt-2 col-3"  src="asset/food/{{ plat.plat.image}}" alt="{{ plat.plat.libelle}}">
              <div>
                <h5 class="font-weight-bold" >{{ plat.plat.libelle}}</h5><br>
                <p>{{ plat.plat.description}}</p>
              </div>
            </td>
            <td><input type="text" class="form-control rounded col-2" name="quantity" id="quantity" value="">{{ plat.quantité }}</td>           
            <td>{{ plat.prix}} €</td>
          </tr>
          {% endfor %}
          <tr>
          <td class="ml-5 col-9 d-flex justify-content-end"> <p class="font-weight-bold">Total de la commande : </p></td>
          <td class="col-4">{{ total }} €</td>
          </tr>
        </tbody>
      </table>
      {# {% endif %} #}
    </div> 

{# <?php
    if(!isset($_POST)){ ?>
        <p>Il est vide .</p> 
<?php } 
    elseif(isset($_POST)){
        foreach($plt as $element){
            if($element->id == $_POST["id"] ){?>
<div class="card  col-10 col-md-2 ">
        <img class="card-img-top img-fluid mt-2" name="" value="" src="asset/food/<?=$element->image?>" alt="burger360">
            <div class="card-body">
            <h5 class="card-title font-weight-bold" ><?=$element->libelle?></h5>
            <p class="card-text"  value="<?=$element->prix?>"><?=$element->description?><br> Total : <?=$element->prix?> €</p>
            <div class="input-group  ">
                <label type="quantity">Quantité : </label>
                <input type="text" class="form-control rounded col-2" name="quantity" id="quantity" value="1">
  <span class="input-group-btn">
    <button type="button" class="btn btn-dark btn-sm" id="btn-minus ">-</button>
  </span>
  
  <span class="input-group-btn">
    <button type="button" class="btn btn-dark btn-sm " id="btn-plus">+</button>
  </span>
</div>

        </div>
    </div>
    <?php } } } ;?> #}
    </div>
  </div>
  <div class="w-100 d-flex justify-content-center"> <a type="submit" class="btn btn-dark t " href="{{path('app_accueil')}}">Retourner sur la page d'acceuil</a></div>

  {% endblock %}