{% extends 'base.html.twig' %}


{% block body %}

<div id="visible">
    <div class="col-12 d-flex justify-content-center">
        <h1 class="font-weight-bold ">Nos Catégories </h1>
    </div>
    <div class="w-100 row d-flex justify-content-center">
        <div class="col-3 d-none d-md-block">
            <div class="card border-0 bg-transparent">
                <div class="card-body">
                    <img src="asset/cat.fond/cuisinier.png" class="card-img-top img-fluid" alt="Cuisinier">
                </div>
            </div>
        </div>

        <div class=" row col-10 col-md-8 mb-4 " >
           {% for categories in categorie %}
    
                <div class="t cat card custom-card col-12 col-md-3 ml-2 mr-2 mb-4 ">
                    <img class=" card-img-top taille rounded img-fluid" src="asset/category/{{ categories.image }}" alt="{{ categories.libelle }}">
                    <div class="card-body pl-3"> 
                        <h3 value="{{ categories.id }}" class=" titre card-title font-weight-bold  id">{{ categories.libelle }}</h3>
                        <span class="stock text-success">Disponible<span>
                    
                    </div>
                </div>
                {% endfor %}
         
        </div>
    
    </div>
    <div class="d-flex justify-content-between mt-4">
        <a type="submit" href="{{path('app_accueil')}}" class="btn btn-dark t ml-2" >Précedent</a>
        <a type="submit" href="{{path('app_plat')}}" class="btn btn-dark t mr-2" >Suivant</a>
    </div>


{% endblock %}
