{% extends 'base.html.twig' %}


{% block body %}


<div id="visible" class="container-fluid ">
    <h1 class="w-100 d-flex justify-content-center font-weight-bold  mt-2">Nos Plats </h1>
    <div class="col-12 row d-flex justify-content-center">
        <div class="row col-3  d-none d-md-block">
            <div class="card border-0 bg-transparent">
                <div class="card-body">
                     <img src="asset/cat.fond/cuisinier.png" class="card-img-top img-fluid" alt="Cuisinier">
                </div>
            </div>

        </div>
        <div class=" row col-12 col-md-8  " >
        {% for plt in plat %}
                <div class="card col-12  pb-2 mb-2 ml-1  mr-2 col-md-3 ">
                    <img class="card-img-top img-fluid rounded himg" src="asset/food/{{ plt.image }}" alt="<?=$plat->libelle?>">
                    <div class="card-body ">
                        <h5 class="card-title font-weight-bold">{{ plt.libelle }}</h5>
                        <p class="card-text ">{{ plt.description }} <br> Menu: {{ plt.prix }} €</p><br>
                    </div>
                    <div class="mt-auto  text-center"> <a href="{{ path('app_panier',{'id':plt.id}) }}" id="btnplt" type="submit" name="id" value="{{ plt.id }}" class="btn btn-warning di t">Ajouter au panier</a></div>
                </div>
    {% endfor %}
          
        </div>
       
    <div class="col-12 d-flex justify-content-between mt-4">
        <a type="submit" href="{{path('app_categorie')}}" class="btn btn-dark t" >Précedent</a>
        <a type="submit" href="{{path('app_contact')}}" class="btn btn-dark t" >Suivant</a>
    </div>
</div>
            
     
 
  
{% endblock %}
